@media(max-width: 767px) {
    .humburg{
        display: block;
    }
    .brightwoodAdventures{
        padding: 13px 18px;
    }
    .rightTabAdventure h2{
        font-size: 19px;
    }
    .rightNewNav{
        width: 100%;
    }
   
    .newAppBtn{
        width: 90%;
    }
    .newestFlow{
        font-size: 11px !important;
    }
    .AddnewAppss{
        width: 56%;
        margin: 10px auto;
    }
    table thead tr th{
        font-size: 12px !important;
    }
    table tbody tr td {
        font-size: 12px !important;
    }
    .rightTabAdventure{
        width: 100%;
    }
}